<h1>Restaurants#show</h1>

<% @restaurant.dishes.each do |dish| %>
  <div class="card border shadow-sm p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center w-50">
      <div class="dish-info">
        <h3> <%= dish.name %> </h3>
        <p> <%= dish.price %>  USD </p>
      </div>
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal"
        data-dish-name="<%= dish.name %>"
        data-dish-price="<%= dish.price %>"
        data-dish-id="<%= dish.id %>">
            add to cart
      </button>
    </div>
  </div>
<% end %>


<div class="modal fade"
      id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      data-current-dish-id="any">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <h5 class="modal-title" id="exampleModalLabel">Order</h5>
        <p class="text-muted modal-price"> USD</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dish-name" class="col-form-label">Amount</label>
            <input type="number" class="form-control" id="dish-amount">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Special Request</label>
            <textarea class="form-control" id="special-instructions"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-modal">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
